<!DOCTYPE html> 
<html>
<head> 
<title>kodi-rfid</title>
<script src="/js/components/jquery/dist/jquery.js"></script>
<script src="/js/components/jquery-ui/jquery-ui.js"></script>
<script src="/js/components/angular/angular.js"></script>
<script src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/js/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/js/components/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body ng-app="kodi-rfid">
    <div ng-controller="indexController">
        <div>
            Last tag : {{last}} <button ng-click="register(last)">register</button> <button ng-click="delete(last)">delete</button>
            <div id="register_container" class="masked" >
            <select ng-options="type as type for type in types" ng-model="type" ng-change="register_type_update()"></select>
            
            
            <div id="register_url" class="register_type_container masked" >Url <input ng-model="registered_url" ><button ng-click="select_url(last, registered_url)" >Select</button></div>
            
            <div id="register_command" class="register_type_container masked" >Command <input ng-model="registered_command" ><button ng-click="select_command(last, registered_command)" >Select</button></div>
            
                <div id="register_album" class="register_type_container masked" >
                    <ul>
                        <li ng-repeat="album in albums" class="item" >
                            {{album.title}}
                            <img class="thumbnail" src="{{album.thumbnail}}" />
                            <span ng-repeat="artist in album.artist" >{{artist}}</span> <br/>
                            <button ng-click="select_album(last, album.albumid)" >Select</button>
                        </li>
                    </ul>
                </div>
                
                <div id="register_artist" class="register_type_container masked" >
                    <ul>
                        <li ng-repeat="artist in artists" class="item" >
                            {{artist.artist}}
                            <img class="thumbnail" src="{{artist.thumbnail}}" />
                            <button ng-click="select_artist(last, artist.artistid)" >Select</button>
                        </li>
                    </ul>
                </div>
                <div id="register_action" class="register_type_container masked" >
                    <select ng-options="action as action for action in actions" ng-model="registered_action" ></select>
                    <button ng-click="select_action(last, registered_action)" >Select</button>
                </div>
                
                <div id="register_addon" class="register_type_container masked" >
                    <select ng-options="addon.id as addon.name for addon in addons" ng-model="registered_addon" ng-change="register_addon_update()" ></select>
                    <div id="register_plugin_video_youtube_container" class="register_addon_container masked" >
                    Playlist: <input ng-model="youtube_playlist_id" /><br/>
                    Video: <input ng-model="youtube_video_id" />
                    <button ng-click="select_youtube(last, registered_addon, youtube_playlist_id, youtube_video_id)" >Select</button>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        <div>
            <ul>
                <li ng-repeat="type in types">
                <button ng-click="select_type(type)" >{{type}}</button>
                </li>
            </ul>
            <hr/>
            <div>
                <ul>
                    <li ng-repeat="tag in tags" id="tag_{{tag[1]}}" >
                        {{tag[1]}} {{tag[0]}} <button ng-click="delete(tag[1])">delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>