<!DOCTYPE html> 
<html>
<head> 
<title>kodi-rfid</title>
<script src="/js/components/jquery/dist/jquery.js"></script>
<script src="/js/components/jquery-ui/jquery-ui.js"></script>
<script src="/js/components/angular/angular.js"></script>
<script src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="/js/components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
<script type="text/javascript" src="https://cdns-files.deezer.com/js/min/dz.js"></script> 
<!-- <link rel="stylesheet" href="/js/components/font-awesome/css/font-awesome.min.css" /> -->
<link rel="stylesheet" href="/css/main.css" />
</head>
<body ng-app="kodi-rfid">
    <div ng-controller="indexController" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kodi-rfid</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-repeat="type in types" ><a href="#" ng-click="select_type(type)" >{{type}}</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <div id="register_container_main" class="masked"  class="jumbotron">
        <h1>{{last}}</h1>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button"  ng-click="register(last)">Register</a>
            <a class="btn btn-primary btn-lg" href="#" role="button"  ng-click="delete(last)">Delete</a>
        </p>
        <div>
            <div id="register_container" class="masked" >
            <select ng-options="type as type for type in types" ng-model="type" ng-change="register_type_update()"></select>
            
            
            <div id="register_url" class="register_type_container masked" >Url <input ng-model="registered_url" ><button ng-click="select_url(last, registered_url)" >Select</button></div>
            
            <div id="register_command" class="register_type_container masked" >Command <input ng-model="registered_command" ><button ng-click="select_command(last, registered_command)" >Select</button></div>
            
                <div id="register_album" class="register_type_container masked" >
                    <ul>
                        <li ng-repeat="album in albums" class="item" >
                            {{album.title}}
                            <img class="thumbnail" ng-src="{{album.thumbnail}}" />
                            <span ng-repeat="artist in album.artist" >{{artist}}</span> <br/>
                            <button ng-click="select_album(last, album.albumid)" >Select</button>
                        </li>
                    </ul>
                </div>
                
                <div id="register_artist" class="register_type_container masked" >
                    Search <input type="text" ng-model="search_terms" /> <button ng-click="search_artists(search_terms)" >Select</button>
                    <ul>
                        <li ng-repeat="artist in artists" class="item" >
                            {{artist.artist}}
                            <img class="thumbnail" ng-src="{{artist.thumbnail}}" />
                            <button ng-click="select_artist(last, artist.artistid)" >Select</button>
                        </li>
                    </ul>
                </div>
                <div id="register_action" class="register_type_container masked" >
                    <select ng-options="action as action for action in actions" ng-model="registered_action" ></select>
                    <button ng-click="select_action(last, registered_action)" >Select</button>
                </div>
                
                <div id="register_addon" class="register_type_container masked" >
                    <select ng-options="addon.id as addon.name for addon in addons" ng-model="registered_addon" ng-change="register_addon_update()" ></select>
                    <div id="register_plugin_video_youtube_container" class="register_addon_container masked" >
                    Playlist: <input ng-model="youtube_playlist_id" /><br/>
                    Video: <input ng-model="youtube_video_id" />
                    <button ng-click="select_youtube(last, registered_addon, youtube_playlist_id, youtube_video_id)" >Select</button>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
        <div class="clear" >
            <div class="media" ng-repeat="tag in tags" id="tag_{{tag[1]}}">
                <div class="media-left">
<!--                    <a href="#">
                        <img class="media-object" src="..." alt="...">
                    </a>-->
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Tag</h4>
                    <p ng-repeat="e in tag" >{{e}}</p>
                    <a href="#" ng-click="delete(tag[1])" class="btn btn-default" role="button">Delete</a>
                </div>
            </div>
        </div>
        <div id="dz-root"></div>
      <div id="deezer_login">
        <a class="deezer_link" ng-click="login()">Connect with Deezer</a>
      </div>
      <div id="deezer_logout">
        <a class="deezer_link" ng-click="logout()">{{deezer.username}}</a>
      </div>
      <div id="player" style="width:100%;" align="center"></div>
    </div>
    </div>
</body>
</html>